<div class="image-box stretch">
  <div>
    <a href="<%= src %>" target="_blank">
      <img class="lazy <%= defined?(extra_classes) ? extra_classes.join(' ') : '' %>" data-src="<%= src %>" alt="<%= defined?(alt) ? alt : '' %>">
      <noscript>
        <img src="<%= src %>" alt="<%= defined?(alt) ? alt : '' %>">
      </noscript>
    </a>
  </div>
  <% if defined?(caption) %>
    <div class="image-caption"><%= caption %></div>
  <% end %>
</div>
